{{template "header.html" .}}
<script type="text/javascript" language="javascript" src="/public/js/submidia/FrmListSubMidia.js"></script> 
		<div class="row">
		<div class="col-md-12">
		&nbsp;
		</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>List Submidia</strong>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<input type="button" class="btn btn-primary" id="btnnew" value="New" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						&nbsp;
					</div>
				</div>
				<div id="list"></div>
			</div>
		</div>
{{template "footer.html" .}}	