{{set . "title" "Respuesta"}}
{{template "header.html" .}}
<script>
$(document).ready(function () { 
	$('#btnsave').click(SaveCustomer);
	FindAllCustomer();
});
function FindAllCustomer(){
	 $.ajax({
	   url: '/Customer/FindAll',
	   type: 'post',
	   dataType: 'json',
	   data : { },
	   success : function(result) { 
		 var customer = new Array();
		 num=0;
		 $.each(result.data,function(key,fila){
			 customer[num]=fila.name;
			 num++;
		 });
			$( "#tags" ).autocomplete({
				source: customer
			});
	   },
	 });
}
function SaveCustomer(){
	if($.trim($('#t_customer').val())==""){
		alert("Input the customer");
		return;
	}			
 $.ajax({
	 url:'/Customer/Save',
	 type:'post',
	 dataType:'json',
	 data:{ 
		vp_customer:$('#t_customer').val()
	 },
	 beforeSend:function(){
		 $.blockUI({ message: '<h2> please wait...</h2>' });	
	 },
	 error: function(jqXHR, exception) { 
		 if (jqXHR.status === 0) { 
			 alert('error direction.'); 
		 } else if (jqXHR.status == 404) { 
			 alert('Page not found'); 
		 } else if (jqXHR.status == 500) { 
			 alert('Internal error '); 
		 } else if (exception === 'parsererror') { 
			 alert('Requested JSON parse failed.'); 
		 } else if (exception === 'timeout') { 
			 alert('Error time out.'); 
		 } else if (exception === 'abort') { 
			 alert('Query abort.'); 
		 } else { 
			 alert('Error: ' + jqXHR.responseText); 
		 } 
	 $.unblockUI();
	 }, 
	 success:function(result){
		 if(result.status==1){ 
			FindAllCustomer();
			alert("register success");
		 }
		 else if(result.status==2){
			 alert(result.msg);
		 }
		 else{
			 alert("Transaction Problem");
		 }
		 $.unblockUI();
	 }
 });
}
</script>`
		<div class="panel panel-default">
		<div class="panel-heading">
		<strong>Customer</strong>
		</div>
		<div class="panel-body">
			<div class="row">				
				<div class="col-md-8">
					<input id="tags" name="tags" class="form-control" placeholder="Pesquisar..">
				</div>					
				<div class="col-md-4">
					<input type="button" class="btn btn-primary" id="btnbuscar" value="Adicionar cliente" data-toggle="modal" data-target="#myModal" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					&nbsp;
				</div>
			</div>			
		</div>
		</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register Customer</h4>
      </div>
      <div class="modal-body">
			<div class="row">			
				<div class="col-md-12">
					<div class="form-group">
						<label for="t_customer">Customer<span style="color:red;">*</span></label>
						<input class="form-control" type="text" id="t_customer" name="t_customer"  />
					</div>				
				</div>	
			</div>		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="btnsave" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
