</div>   
                    <!-- End .page-content-inner -->
                </div>
                <!-- / page-content-wrapper -->
            </div>
            <!-- / page-content -->
        </div>
        <!-- / #wrapper -->
        <!--<div id="footer" class="clearfix sidebar-page right-sidebar-page">
            
            <p class="pull-left">
                Copyrights &copy; 2014 <a href="http://suggeelson.com/" class="color-blue strong" target="_blank">SuggeElson</a>. All rights reserved.
            </p>
            <p class="pull-right">
                <a href="#" class="mr5">Terms of use</a>
                |
                <a href="#" class="ml5 mr25">Privacy police</a>
            </p>
        </div>-->
        <!-- End #footer  -->
        <!-- Back to top -->
        <div id="back-to-top"><a href="#">Back to Top</a>
        </div>
        
        <!--[if lt IE 9]>
  <script type="text/javascript" src="/public/dashboard/dynamic/js/libs/excanvas.min.js"></script>
  <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript" src="/public/dashboard/dynamic/js/libs/respond.min.js"></script>
<![endif]-->
        <!-- Bootstrap plugins -->
        <script src="/public/dashboard/dynamic/js/bootstrap/bootstrap.js"></script>
        <!-- Core plugins ( not remove ) -->
        <script src="/public/dashboard/dynamic/js/libs/modernizr.custom.js"></script>
        <!-- Handle responsive view functions -->
        <script src="/public/dashboard/dynamic/js/jRespond.min.js"></script>
        <!-- Custom scroll for sidebars,tables and etc. -->
        <script src="/public/dashboard/dynamic/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/public/dashboard/dynamic/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
        <!-- Remove click delay in touch -->
        <script src="/public/dashboard/dynamic/plugins/core/fastclick/fastclick.js"></script>
        <!-- Increase jquery animation speed -->
        <script src="/public/dashboard/dynamic/plugins/core/velocity/jquery.velocity.min.js"></script>
        <!-- Quick search plugin (fast search for many widgets) -->
        <script src="/public/dashboard/dynamic/plugins/core/quicksearch/jquery.quicksearch.js"></script>
        <!-- Bootbox fast bootstrap modals -->
        <script src="/public/dashboard/dynamic/plugins/ui/bootbox/bootbox.js"></script>
        <!-- Other plugins ( load only nessesary plugins for every page) -->
        <script src="/public/dashboard/dynamic/plugins/forms/bootstrap-filestyle/bootstrap-filestyle.js"></script>
        <script src="/public/dashboard/dynamic/plugins/forms/autosize/jquery.autosize.js"></script>
        <script src="/public/dashboard/dynamic/plugins/forms/maxlength/bootstrap-maxlength.js"></script>
        <script src="/public/dashboard/dynamic/plugins/forms/checkall/jquery.checkAll.js"></script>
        <script src="/public/dashboard/dynamic/plugins/charts/sparklines/jquery.sparkline.js"></script>
        <script src="/public/dashboard/dynamic/js/jquery.dynamic.js"></script>
        <script src="/public/dashboard/dynamic/js/main.js"></script>
        <script src="/public/dashboard/dynamic/js/pages/forms-basic.js"></script>
    </body>
</html>